# macOS
.DS_Store

# Xcode - per-user
xcuserdata/
*.xcuserstate
*.xcuserdatad

# Xcode - build
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (if ever added)
Pods/
Carthage/Build/
